# --- IGNORE PRIVATE DATA ---
data/vault/
data/logs/
data/config/secrets.json
__pycache__/
*.pyc

# --- BUT KEEP THE SKELETON ---
!data/config/commands.json

# Google Drive Garbage
[Dd]esktop.ini
desktop.ini
Desktop.ini
Thumbs.db
.DS_Store
